@page
@{
    ViewData["Title"] = "Beranda";
}

@* Hero Section *@
<div class="hero-wrapper">
  <div class="hero-section">
    <img style="width: 32px;" src="assets/images/quote.svg" alt="quote">
    <div class="title-subtitle">
      <h1>OJK Raih penghargaan pengendalian gratifikasi terbaik tahun 2016, 2017, 2018, 2020, 2023, dan 2024 dari KPK</h1>
      <p>Otoritas Jasa Keuangan terus meraih dan mempertahankan penghargaan dari  Komisi Pemberantasan Korupsi (KPK) di bidang sistem pengendalian  gratifikasi terbaik di tahun 2016, 2017, 2018 dan Unit Pengendalian  Gratifikasi terbaik di tahun 2020, 2023, dan 2024 untuk kategori/lembaga nasional.</p>
    </div>
  </div>

  <div class="hero-image-wrapper">
    <img class="hero-image" src="assets/images/hero-image.png" alt="">
  </div>
</div>
